    body {
        background: #F4F4F4;
        margin: 0;
    }
    
    .link-title {
        text-decoration: none;
        font-size: 24px;
        color: #444444;
    }
    
    .page-heading {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 9px;
    }
    
    .container {
        width: 1000px;
        height: 700px;
        margin: auto;
        align: center;
        background: #fff;
        box-shadow: 0px 9px 13px 5px;
    }
    
    .header {
        padding: 40px 0 20px 40px;
    }
    
    .menu {
        background: #3b7687;
        padding: 6px 0 6px 40px;
    }
    
    .menu a {
        color: #c5d6db;
        text-decoration: none;
        font-size: 14px;
        font-family: "Arial Narrow", "Myrid Pro";
    }
    
    .menu a:hover {
        color: #ecf2f3;
    }
    
    aside {
        float: left;
        width: 120px;
        padding: 30px 0 0 40px;
    }
    
    h1 {
        margin: 0px;
        color: #869843;
        font-size: 24px;
        font-family: "Arial Narrow", "Myrid pro";
        font-weight: normal;
    }
    
    h2 {
        color: #367283;
        font-size: 15px;
        margin: 20px 0 50px 0;
    }
    
    .main {
        margin: 0 0 0 180px;
        padding: 35px 40pxx 30 px 0;
        color: #444444;
        font-family: "Georgia";
        font-size: 13px;
        line-height: 18px;
        text-emphasis: justify;
    }
    
    .main a:hover {
        color: #444444;
    }
    
    footer {
        padding: 6px 40px 6px 40px;
        background: #d6d6d6;
        font-family: "lucida sans Unicode";
        color: #444444;
        font-size: 11px;
        text-decoration: right;
        margin: 40px auto;
    }
    
    footer a {
        text-decoration: none;
        color: #262626;
    }
    
    .seperator {
        color: #ffffff;
        font-size: 11px;
    }
    
    #home-image img {
        width: 80%;
        height: 230px;
        margin-top: 15px;
    }
    
    #about-page #home-image img {
        width: 55%;
        float: left;
        margin-top: 15px;
    }
    
    #about-page #profile-info {
        float: right;
        width: 25%;
        margin: 5px;
    }
    
    #about-page .description {
        clear: both;
    }
    
    #contact #form {
        width: 500px;
        padding: 15px 15px 15px 15px;
        margin: 0 auto;
        box-shadow: 0px 9px 13px 5px;
        border-radius: 5px;
    }
    
    #contact #form input {
        width: 95%;
        border-radius: 5px;
        height: 20px;
        background: #d6d6d6;
    }
    
    #contact #form #message {
        background: #d6d6d6;
    }
    
    #contact #form #submit {
        height: 30px;
        background: rgb(59, 118, 135);
    }